.form_container {
  background-color: #6150a0ba;
  width: 70%;
  border-radius: 20px;
  height: 50%;
}

.Correct {
  background-color: rgba(0, 128, 0, 0.438);
  width: 70%;
  border-radius: 20px;
  height: 50%;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.226);
  width: 70%;
  border-radius: 20px;
  height: 50%;
}
.form_container input {
  height: 100px;
}

h3 {
  text-align: center;
  color: white;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  align-self: center;
}

.sendButton {
  border: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-color: #711660;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.sendButton:hover {
  background-color: #bf25a3;
}

.form_outer_container {
  min-height: 85vh;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.147),
      rgba(14, 14, 16, 0.455)
    ),
    url("../../assets/images/rainbow.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.numbers {
  height: 25px;
  width: 25px;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  color: white;
  font-size: larger;
}

.number1 {
  background-color: #95d577;
}

.number2 {
  background-color: #008bb6;
}
