.form_container {
  background-color: #6150a0ba;
  width: 70%;
  border-radius: 20px;
  padding: 30px;
}

.Correct {
  background-color: rgba(0, 128, 0, 0.634);

}

.incorrect {
  background-color: rgba(255, 0, 0, 0.185);
}
.form_container input {
  height: 100px;
  color:#400082;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: white;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  align-self: center;
}

.sendButton {
  border: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-color: #711660;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.sendButton:hover {
  background-color: #bf25a3;
}

.form_outer_container {
  min-height: 80vh;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.147),
      rgba(14, 14, 16, 0.455)
    ),
    url("../../assets/images/rainbow.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.numbers {
  height: 25px;
  width: 25px;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  color: white;
  font-size: larger;
}

.number1 {
  background-color: #400082;
}

.number2 {
  background-color:#fe346e
}

.restartButton {
  border: none;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: 170px;
  background-color: #04dead;
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-size: larger;
}

.restartButton:hover {
  background-color: #4bccb0c3;
}

.restartButton img {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .form_outer_container {
    display: flex;
    justify-content: center;
    background-position: 75%;
    min-height: 85vh;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  .form_container {
    width: 90%;
    height: 100% !important;
  }

  .form_container input {
    height: 40px;
    margin-top: 10px;
  }

  .sendButton {
    margin-top: 10px;
    padding-bottom: 20px;
  }
}
